    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is directVote?</h2>
            <p class="intro text-center"><b>directVote</b> is a campaign to bring the British political system into the 21st century by enabling voting in real-time via mobile phones and social media.</p>
            <p class="intro text-center">We aim to replace the current party system with one where every voter can vote directly on all the issues, not just at election time every five years.</p>            
            <p class="intro text-center">We intend to field candidates in all 650 English, Scottish, Welsh and Northern Irish constituencies in the 2020 Election. Join us and be one of them.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Vote for issues, not for parties</h3>
                        <p>Make your voice heard by voting for individual issues debated in Parliament.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Beat the ruling classes</h3>
                        <p>No more corruptible parties or self-serving politicians. You take control of the voting.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy and honest democracy</h3>
                        <p>Take part in the debate on your mobile phone and cast your vote in one click.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Make your voice heard</h3>
                        <p>Debate with your friends and followers. Sway and be swayed.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Get elected</h3>
                        <p>Got influence? Use your social following to become a DV MP</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Private and anonymouse</h3>
                        <p>True democracy requires strong privacy. Your voting choices are kept secret.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
